
.blockquote {
    border-left: 5px solid #848484;
    margin: 24px 0;
    padding-left: 16px;
}

.sticky {
    position: fixed !important;
    top: 0;
    width: 100%;
}

.content {
    padding: 0px;
}

.sticky + .content {
    padding-top: 60px;
}

.center-cropped {
    object-fit: cover; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    width: 100vw;
    height: 42vw;
}